@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Color */
  --white-color: #f5f5f5;
  --black-color: #0a0a0a;
  --purple-color: #692cb9;
  --green-color: #3bc978;
  --light-green-color: #c8e8b0;
  --yellow-color: #ffe090;
  --gray-color: #b1b3b6;
  --dark-gray-color: #7d7d7d;
  --red-color: #e2757e;
  --pistachio-color: #8fbc8f;
  --beige-color: rgba(241, 240, 232, 0.6);
  --brown-color: #a27c4c99;
  --light-brown-color: #a37c4d66;
  --deep-dark-gray-color: #444444;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 36px;
  --font-medium2: 30px;
  --font-small: 24px;
  --font-smaller: 20px;
  --font-content: 18px;
  --font-micro: 16px;

  /* Padding */
  --micro-padding: 10px;
  --smaller-padding: 18px;
  --small-padding: 24px;
  --basic-padding: 30px;
  --medium-padding: 36px;
  --big-padding: 40px;
  --bigger-padding: 48px;

  --navi_li-zindex: 1;
  --homeBannerTextContainer-zindex: 2;
  --header-zindex: 3;
  --pagination-zindex: 4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  letter-spacing: -2.5%;
  scroll-behavior: smooth;
}

* a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--black-color);
}

ul,
li {
  list-style: none;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

/* big */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* etc */
.image100 {
  width: 100%;
}

.tabletPortraitWarning {
  display: none;
}

#greenM {
  color: var(--green-color);
  font-size: var(--font-medium);
}

#greenM2 {
  color: var(--green-color);
  font-size: 28px;
}

.darkGray1600UnderBar {
  width: 1600px;
  border-bottom: var(--dark-gray-color) 1px solid;
  margin-bottom: 50px;
}

@keyframes Fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Updown {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}

/* header */
.original_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--header-zindex);
  background-color: white;
}

.change_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: var(--header-zindex);
  background-color: white;
  border-bottom: rgba(0, 27, 55, 0.1) 2px solid;
}

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  align-items: center;
}

.logoBox {
  display: flex;
  margin: auto 0px;
  cursor: pointer;
}

.logo {
  height: 80px;
  width: 240px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo {
  width: 100%;
  height: 100%;
}

.logo_title {
  font-size: var(--font-medium);
  margin: auto 0px;
}

.link_logo_nav {
  display: flex;
  width: 500px;
  height: 100%;
  align-items: center;
}

.header_link_logo {
  display: flex;
  margin: auto 0px;
}

.header_logo_icon {
  margin-right: 24px;
  width: 32px;
  height: 32px;
}

.navi_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto 0px;
}

nav ul li {
  width: 120px;
  font-size: var(--font-small);
  text-align: center;
  display: inline-block;
}

.navi_li {
  position: relative;
  z-index: var(--navi_li-zindex);
}

@media (hover: hover) {
  .navi_li:hover {
    display: block;
  }
}

/* homeMain */
.homeMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--big-padding) * 2);
}

.homeMainBox {
  width: 1600px;
  height: 100%;
}

.homeMainTitle {
  display: flex;
  align-items: center;
  font-size: var(--font-medium2);
  margin-bottom: var(--small-padding);
}

/* homeBanner */
.homeBannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBannerBox {
  width: 100%;
}

.homeBannerTextContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  animation: 1.5s ease-in-out 0s 1 normal forwards running Fadein;
  z-index: var(--homeBannerTextContainer-zindex);
}

.homeBannerTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.homeBannerText {
  color: var(--black-color);
  font-size: calc(var(--font-large) * 1.2);
  line-height: 2.5;
  text-align: center;
  width: 100%;
  font-family: "Danjo-bold-Regular";
  letter-spacing: 3px;
  background: linear-gradient(to right, #e6d5d4, #bbabab);
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.homeBannerImageBox {
  width: 100%;
  height: 100vh;
}

.homeBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeBannerBtnBox {
  position: absolute;
  bottom: 0.1%;
  width: 50px;
  height: 50px;
  background: none;
  border: 0px;
  padding: 0px;
  outline: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.homeBannerBtn {
  width: 100%;
  height: 100%;
  animation: Updown 0.7s linear 0s infinite alternate;
}

/* homeIntro */
.homeIntroContainer {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: #f9fafb;
}

.homeIntro {
  font-size: var(--font-medium);
  line-height: 1.7;
  text-align: center;
}

/* homeServiceIntro */
.homeServiceIntroContainer {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
}

/* service */
.servicePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--big-padding) * 2);
}

.servicePreviewBox {
  width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--big-padding) * 2);
  line-height: 1.5rem;
}

.servicePreviewContentContainer {
  display: flex !important;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  border: var(--black-color) 1px solid;
  border-radius: 30px 30px;
  padding: var(--big-padding);
  font-size: var(--font-smaller);
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.servicePreviewContentBox {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicePreviewStatusContainter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.servicePreviewStatusBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  grid-gap: 0 5px;
  height: 100%;
  width: 85%;
}

.servicePreviewStatus {
  border: 1px solid var(--black-color);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: var(--font-micro);
  height: 35px;
}

.servicePreviewFavoriteBox {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicePreviewFacvoriteBtnBox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.servicePreviewServNm {
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: calc(var(--font-small) * 1.2);
  font-weight: bold;
  line-height: 1.1;
}

.servicePreviewTrgContent {
  width: 100%;
  height: 22%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.servicePreviewTrgContent,
.servicePreviewDeptNm {
  font-size: var(--font-smaller);
}

.servicePreviewDeptNm {
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.servicePreviewContentBtnBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicePreviewContentBtn {
  width: 100%;
  height: 50px;
  font-size: var(--font-small);
  background-color: var(--pistachio-color);
  border-radius: 10px;
  color: white;
}

.servicePreviewContentBtn:hover {
  border: var(--black-color) 2px solid;
}

/* serviceTab */
.serviceTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.serviceTabTitleBox {
  width: 1600px;
  font-size: var(--font-medium2);
  margin-bottom: var(--small-padding);
}

.serviceTabTextBoxContainer {
  display: flex;
  align-items: center;
  width: 1600px;
  margin-bottom: 50px;
  border-bottom: var(--black-color) 3px solid;
}

.serviceTabTextBox,
.selectedServiceTabTextBox {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--small-padding) var(--smaller-padding);
  background-color: white;
}

.serviceTabTextBox {
  border-top: var(--black-color) 1px solid;
  border-right: var(--black-color) 1px solid;
  border-left: var(--black-color) 1px solid;
}

.selectedServiceTabTextBox {
  border-top: var(--black-color) 3px solid;
  border-right: var(--black-color) 3px solid;
  border-left: var(--black-color) 3px solid;
}

.serviceTabText {
  font-size: var(--font-small);
}

/* search */
.searchFilterBoxContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1150px;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 200px;
  width: 100%;
}

.searchBoxContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 980px;
  height: 100%;
  border: var(--black-color) 2px solid;
  border-radius: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: white;
}

.searchIconBox {
  width: var(--medium-padding);
  height: var(--medium-padding);
  cursor: pointer;
}

.searchInput {
  margin-left: var(--smaller-padding);
  width: 100%;
  height: var(--medium-padding);
  font-size: var(--font-smaller);
  border: 0;
  background-color: white;
}

/* filter */
.filterBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterBox {
  width: 1600px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--black-color) 2px solid;
  border-left: var(--black-color) 2px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.filterBox > div {
  border-right: var(--black-color) 2px solid;
  border-bottom: var(--black-color) 2px solid;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.filterBox > div:not(:last-of-type) {
  border-top-right-radius: 0px;
}

.arrayFilterTitleBox {
  text-align: center;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium2);
  font-weight: 500;
  background-color: var(--pistachio-color);
  color: white;
}

.arrayFilterElementBox,
.intrsArrayFilterElementBox {
  height: 80%;
  padding: var(--small-padding);
  font-size: var(--font-small);
  background-color: white;
}

.arrayFilterElementBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intrsArrayFilterElementBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.arrayFilterElement {
  width: 100%;
  display: flex;
  align-items: center;
}

.filterCheckBox {
  width: 50px;
  height: var(--font-smaller);
}

.filterElement {
  width: 100%;
}

/* subFilter */
.subFilterBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subFilterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1600px;
  height: 250px;
  border-right: var(--black-color) 2px solid;
  border-left: var(--black-color) 2px solid;
  border-bottom: var(--black-color) 2px solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.subFilterElementBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  width: 100%;
  margin-bottom: 10px;
}

.subFilterAgeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
}

.subFilterAgeTitle,
.subFilterAreaTitle {
  font-size: var(--font-small);
  width: 45px;
  text-align: center;
}

.subFilterAgeInputBox {
  width: 70%;
  border: var(--black-color) 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--micro-padding);
  margin-left: 30px;
  background-color: white;
}

.subFilterAgeInputText {
  font-size: var(--font-small);
}

.subFilterAgeInput {
  margin-right: var(--micro-padding);
  width: 100%;
  height: var(--medium-padding);
  font-size: var(--font-smaller);
  border: 0;
  background-color: white;
  color: var(--green-color);
  text-align: right;
  font-size: var(--font-small);
}

.subFilterAreaContainer {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

.subFilterAreaBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.subFilterAreaSelect {
  width: 40%;
  font-size: var(--font-smaller);
  text-align: center;
  height: 80%;
  border-radius: 10px;
}

.subFilterBtnContainer {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subFilterResetBtn,
.subFilterSearchBtn {
  width: 140px;
  border-radius: 10px;
  font-size: var(--font-small);
  height: 100%;
  color: white;
}

.subFilterResetBtn:hover,
.subFilterSearchBtn:hover {
  border: var(--black-color) 2px solid;
}

.subFilterResetBtn {
  background-color: var(--gray-color);
}

.subFilterSearchBtn {
  background-color: var(--pistachio-color);
}

/* custom_selectBox */
.customSelectBox {
  position: relative;
  width: 40%;
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  align-self: center;
  border: var(--black-color) 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.customSelectBox::before {
  content: "⌵";
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--green-color);
  font-size: 30px;
}

.customSelectSpan {
  font-size: var(--font-smaller);
  text-align: center;
  cursor: pointer;
}

.customSelectUl,
.customSelectUlActive {
  position: absolute;
  list-style: none;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  height: 200px;
  max-height: 0px;
  padding: 0;
  border-radius: 8px;
  background-color: white;
  top: 70px;
  border: var(--black-color) 1px solid;
  max-height: 400px;
}

.customSelectUl {
  display: none;
}

.customSelectUlActive {
  display: block;
}

.customSelectLiSelected {
  background-color: rgba(221, 218, 218, 0.8);
}

.customSelectLi,
.customSelectLiSelected {
  font-size: var(--font-smaller);
  padding: 6px 8px;
  transition: background-color 0.2s ease-in;
  height: 50px;
  display: flex;
  align-items: center;
}

.customSelectLi:hover {
  background-color: rgba(221, 218, 218, 0.8);
}

.customSelectUl::-webkit-scrollbar,
.customSelectUlActive::-webkit-scrollbar {
  width: 6px;
}

.customSelectUl::-webkit-scrollbar-track,
.customSelectUlActive::-webkit-scrollbar-track {
  background: transparent;
}

.customSelectUl::-webkit-scrollbar-thumb,
.customSelectUlActive::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 45px;
}

.customSelectUl::-webkit-scrollbar-thumb:hover,
.customSelectUlActive::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

/* pagination */
.pagination {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: calc(var(--bigger-padding) * 1.8) auto;
  font-size: var(--font-smaller);
  z-index: var(--pagination-zindex);
}

ul.pagination li {
  width: 50px;
  height: 50px;
  border: var(--black-color) 1px solid;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: white;
}

ul.pagination li:hover,
ul.pagination li:active,
ul.pagination li.active {
  background-color: var(--gray-color);
}

ul.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

ul.pagination li a.undefined,
ul.pagination li a:hover {
  color: white;
}
