@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Color */
  --white-color: #f5f5f5;
  --black-color: #0a0a0a;
  --purple-color: #692cb9;
  --green-color: #3bc978;
  --deep-green-color: #026702;
  --light-green-color: #c8e8b0;
  --yellow-color: #ffe090;
  --orange-color: #faa61a;
  --gray-color: #b1b3b6;
  --dark-gray-color: #7d7d7d;
  --red-color: #e2757e;
  --pistachio-color: #8fbc8f;
  --beige-color: rgba(241, 240, 232, 0.6);
  --brown-color: #a27c4c99;
  --light-brown-color: #a37c4d66;
  --deep-dark-gray-color: #444444;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 36px;
  --font-medium2: 30px;
  --font-small: 24px;
  --font-smaller: 20px;
  --font-content: 18px;
  --font-micro: 16px;

  /* Padding */
  --micro-padding: 10px;
  --smaller-padding: 18px;
  --small-padding: 24px;
  --basic-padding: 30px;
  --medium-padding: 36px;
  --big-padding: 40px;
  --bigger-padding: 48px;

  --navi_li-zindex: 1;
  --homeBannerTextContainer-zindex: 2;
  --homeBannerCopyright-zindex: 3;
  --header-zindex: 4;
  --pagination-zindex: 5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  letter-spacing: -2.5%;
  scroll-behavior: smooth;
}

* a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--black-color);
}

ul,
li {
  list-style: none;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

input {
  outline: none;
}

/* big */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* etc */
.image100 {
  width: 100%;
}

.tabletPortraitWarning {
  display: none;
}

#greenM {
  color: var(--green-color);
  font-size: var(--font-medium);
}

#orangeM {
  color: var(--orange-color);
  font-size: var(--font-medium);
}

#greenM2 {
  color: var(--green-color);
  font-size: 28px;
}

#deepGreenSmer {
  color: var(--deep-green-color);
  font-size: var(--font-smaller);
}

#blackL {
  color: var(--black-color);
  font-size: calc(var(--font-large) * 1.3);
}

#pistachioL {
  color: #609c60;
  font-size: calc(var(--font-large) * 1.5);
}

.darkGray1600UnderBar {
  width: 1600px;
  border-bottom: var(--dark-gray-color) 1px solid;
  margin-bottom: 50px;
}

.loading {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: var(--pistachio-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes Fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Updown {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* header */
.original_header,
.change_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: var(--header-zindex);
  box-sizing: initial;
}

.change_header {
  border-bottom: rgba(0, 27, 55, 0.1) 2px solid;
}

nav {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 1550px;
  height: 100%;
  align-items: center;
}

.logoBox {
  display: flex;
  margin: auto 0px;
  cursor: pointer;
}

.logo {
  height: 80px;
  width: 240px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo {
  width: 100%;
  height: 100%;
}

.logo_title {
  font-size: var(--font-medium);
  margin: auto 0px;
}

.link_logo_nav {
  display: flex;
  width: 500px;
  height: 100%;
  align-items: center;
}

.header_link_logo {
  display: flex;
  margin: auto 0px;
}

.header_logo_icon {
  margin-right: 24px;
  width: 32px;
  height: 32px;
}

.navi_ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto 0px;
}

nav ul li {
  width: 120px;
  font-size: var(--font-small);
  text-align: center;
  display: inline-block;
}

.navi_li {
  position: relative;
  z-index: var(--navi_li-zindex);
}

@media (hover: hover) {
  .navi_li:hover {
    display: block;
  }
}

/* footer */
.footer {
  border-top: rgba(0, 27, 55, 0.1) 2px solid;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serviceArrangeBox {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0 0 0;
}

.serviceArrange {
  font-size: var(--font-content);
  margin-right: var(--medium-padding);
  cursor: pointer;
}

.copyright {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
  font-size: var(--font-micro);
}

.footerLogo {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.footerLogoIcon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.footerLogoImage {
  width: 100%;
  height: 100%;
}

/* homeBanner */
.homeBannerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBannerBox {
  width: 100%;
}

.homeBannerTextContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  animation: 1.5s ease-in-out 0s 1 normal forwards running Fadein;
  z-index: var(--homeBannerTextContainer-zindex);
}

.homeBannerTextBox {
  position: absolute;
  top: 45%;
  left: 18%;
  transform: translate(-18%, -45%);
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.homeBannerText {
  color: var(--black-color);
  font-size: calc(var(--font-large) * 1.2);
  line-height: 2.5;
  text-align: center;
  width: 100%;
  letter-spacing: 3px;
  color: var(--black-color);
}

.homeBannerImageBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homeBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeBannerCopyright {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: var(--homeBannerCopyright-zindex);
}

/* homeIntro */
.homeIntroContainer {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: #f9fafb;
}

.homeIntro {
  font-size: var(--font-medium);
  line-height: 1.7;
  text-align: center;
}

/* homeServiceIntro */
.homeServiceIntroContainer {
  padding: 200px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.homeServiceIntroBox {
  width: 1000px;
  height: 1200px;
  position: relative;
}

.homeServiceIntroTitleBox {
  width: 100%;
  position: relative;
}

.homeServiceIntroTitle {
  font-size: var(--font-medium2);
  color: var(--deep-green-color);
}

.homeServiceIntroLeftPhoneBox {
  position: absolute;
  width: 350px;
  height: 600px;
  bottom: 0px;
  left: 0px;
}

.homeServiceIntroRightPhoneBox {
  position: absolute;
  width: 350px;
  height: 600px;
  top: 0;
  right: 0;
}

.homeServiceIntroLeftPhone {
  width: 100%;
  height: 100%;
}

.homeServiceIntroRightPhone {
  width: 100%;
  height: 100%;
}

/* service */
.servicePreviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicePreviewBox {
  width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--big-padding) * 2);
  line-height: 1.5rem;
}

.noItemContainer {
  width: 1600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noItemIconBox {
  height: 90px;
  width: 90px;
  margin-bottom: var(--big-padding);
}

.noItemTitleBox {
  width: auto;
  height: 150px;
}

.noItemTitle {
  font-size: var(--font-medium2);
}

.servicePreviewContentContainer {
  display: flex !important;
  height: 500px;
  flex-direction: column;
  justify-content: space-between;
  border: var(--black-color) 1px solid;
  border-radius: 30px 30px;
  padding: var(--big-padding);
  font-size: var(--font-smaller);
  background-color: white;
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2);
}

.servicePreviewContentBox {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicePreviewStatusContainter {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.servicePreviewStatusBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  grid-gap: 0 5px;
  height: 100%;
  width: 85%;
}

.servicePreviewStatus {
  border: 1px solid var(--black-color);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: var(--font-micro);
  height: 35px;
}

.servicePreviewFavoriteBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicePreviewFavoriteBtnBox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.servicePreviewServNm {
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: calc(var(--font-small) * 1.2);
  font-weight: bold;
  line-height: 1.1;
}

.servicePreviewTrgContent {
  width: 100%;
  height: 22%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.servicePreviewTrgContent,
.servicePreviewDeptNm {
  font-size: var(--font-smaller);
}

.servicePreviewDeptNm {
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.servicePreviewContentBtnBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicePreviewContentBtnBox a {
  width: 100%;
}

.servicePreviewContentBtn {
  width: 100%;
  height: 50px;
  font-size: var(--font-small);
  background-color: var(--pistachio-color);
  border-radius: 10px;
  color: white;
}

.servicePreviewContentBtn:hover {
  border: var(--black-color) 2px solid;
}

/* serviceTab */
.serviceTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.serviceTabTitleBox {
  width: 1600px;
  font-size: var(--font-medium2);
  margin-bottom: var(--small-padding);
  margin-left: var(--micro-padding);
}

.serviceTabTextBoxContainer {
  display: flex;
  align-items: center;
  width: 1600px;
  margin-bottom: 50px;
  border-bottom: var(--black-color) 3px solid;
}

.serviceTabTextBox,
.selectedServiceTabTextBox {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--small-padding) var(--smaller-padding);
  background-color: white;
}

.serviceTabTextBox {
  border-top: var(--black-color) 1px solid;
  border-right: var(--black-color) 1px solid;
  border-left: var(--black-color) 1px solid;
}

.selectedServiceTabTextBox {
  border-top: var(--black-color) 3px solid;
  border-right: var(--black-color) 3px solid;
  border-left: var(--black-color) 3px solid;
}

.serviceTabText {
  font-size: var(--font-small);
}

/* search */
.searchFilterBoxContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1150px;
  justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 200px;
  width: 100%;
}

.searchBoxContainer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 980px;
  height: 100%;
  border: var(--black-color) 2px solid;
  border-radius: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: white;
}

.searchIconBox {
  width: var(--medium-padding);
  height: var(--medium-padding);
  cursor: pointer;
}

.searchInput {
  margin-left: var(--smaller-padding);
  width: 100%;
  height: var(--medium-padding);
  font-size: var(--font-smaller);
  border: 0;
  background-color: white;
}

/* filter */
.filterBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterBox {
  width: 1600px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--black-color) 2px solid;
  border-left: var(--black-color) 2px solid;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.filterBox > div {
  border-right: var(--black-color) 2px solid;
  border-bottom: var(--black-color) 2px solid;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.filterBox > div:not(:last-of-type) {
  border-top-right-radius: 0px;
}

.arrayFilterTitleBox {
  text-align: center;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium2);
  font-weight: 500;
  background-color: var(--pistachio-color);
  color: white;
}

.arrayFilterElementBox,
.intrsArrayFilterElementBox {
  height: 80%;
  padding: var(--small-padding);
  font-size: var(--font-small);
  background-color: white;
}

.arrayFilterElementBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intrsArrayFilterElementBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.arrayFilterElement {
  width: 100%;
  display: flex;
  align-items: center;
}

.filterCheckBox {
  width: 50px;
  height: var(--font-smaller);
}

.filterElement {
  width: 100%;
}

/* subFilter */
.subFilterBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subFilterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1600px;
  height: 250px;
  border-right: var(--black-color) 2px solid;
  border-left: var(--black-color) 2px solid;
  border-bottom: var(--black-color) 2px solid;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.subFilterElementBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  width: 100%;
  margin-bottom: 10px;
}

.subFilterAgeContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
}

.subFilterAgeTitle,
.subFilterAreaTitle {
  font-size: var(--font-small);
  width: 45px;
  text-align: center;
}

.subFilterAgeInputBox {
  width: 70%;
  border: var(--black-color) 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--micro-padding);
  margin-left: 30px;
  background-color: white;
}

.subFilterAgeInputText {
  font-size: var(--font-small);
}

.subFilterAgeInput {
  margin-right: var(--micro-padding);
  width: 100%;
  height: var(--medium-padding);
  font-size: var(--font-smaller);
  border: 0;
  background-color: white;
  color: var(--green-color);
  text-align: right;
  font-size: var(--font-small);
}

.subFilterAreaContainer {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.subFilterAreaBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.subFilterAreaSelect {
  width: 40%;
  font-size: var(--font-smaller);
  text-align: center;
  height: 80%;
  border-radius: 10px;
}

.subFilterBtnContainer {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subFilterResetBtn,
.subFilterSearchBtn {
  width: 140px;
  border-radius: 10px;
  font-size: var(--font-small);
  height: 100%;
  color: white;
}

.subFilterResetBtn:hover,
.subFilterSearchBtn:hover {
  border: var(--black-color) 2px solid;
}

.subFilterResetBtn {
  background-color: var(--gray-color);
}

.subFilterSearchBtn {
  background-color: var(--pistachio-color);
}

/* custom_selectBox */
.customSelectBox {
  position: relative;
  width: 40%;
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  align-self: center;
  border: var(--black-color) 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.customSelectBox::before {
  content: "⌵";
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--green-color);
  font-size: 30px;
}

.customSelectSpan {
  font-size: var(--font-smaller);
  text-align: center;
  cursor: pointer;
}

.customSelectUl,
.customSelectUlActive {
  position: absolute;
  list-style: none;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  height: 200px;
  max-height: 0px;
  padding: 0;
  border-radius: 8px;
  background-color: white;
  top: 70px;
  border: var(--black-color) 1px solid;
  max-height: 400px;
}

.customSelectUl {
  display: none;
}

.customSelectUlActive {
  display: block;
}

.customSelectLiSelected {
  background-color: rgba(221, 218, 218, 0.8);
}

.customSelectLi,
.customSelectLiSelected {
  font-size: var(--font-smaller);
  padding: 6px 8px;
  transition: background-color 0.2s ease-in;
  height: 50px;
  display: flex;
  align-items: center;
}

.customSelectLi:hover {
  background-color: rgba(221, 218, 218, 0.8);
}

.customSelectUl::-webkit-scrollbar,
.customSelectUlActive::-webkit-scrollbar {
  width: 6px;
}

.customSelectUl::-webkit-scrollbar-track,
.customSelectUlActive::-webkit-scrollbar-track {
  background: transparent;
}

.customSelectUl::-webkit-scrollbar-thumb,
.customSelectUlActive::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 45px;
}

.customSelectUl::-webkit-scrollbar-thumb:hover,
.customSelectUlActive::-webkit-scrollbar-thumb:hover {
  background: #303030;
}

/* pagination */
.pagination {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: calc(var(--bigger-padding) * 2.5) auto 0 auto;
  font-size: var(--font-smaller);
  z-index: var(--pagination-zindex);
}

ul.pagination li {
  width: 50px;
  height: 50px;
  border: var(--black-color) 1px solid;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: white;
}

ul.pagination li:hover,
ul.pagination li:active,
ul.pagination li.active {
  background-color: rgba(221, 218, 218, 0.8);
}

ul.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* eachService */
.eachServiceMainBackContainer {
  width: 100%;
  padding: 200px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eachServiceMainBackBox {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eachServiceMainBackImgBox {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.eachServiceMainBackTextBox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.eachServiceMainBackText {
  font-size: var(--font-small);
}

.eachServiceMainContainer {
  width: 100%;
  height: 550px;
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eachServiceMainBox {
  width: 1600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: var(--black-color) 3px solid;
  border-radius: 15px;
  padding: calc(var(--bigger-padding) * 1.2);
}

.eachServiceMainStatusContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eachServiceMainStatusBox {
  grid-gap: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, auto));
  width: 90%;
  height: 35px;
}

.eachServiceMainStatus {
  border: 1px solid var(--black-color);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: var(--font-content);
  height: 100%;
}

.eachServiceMainFavoriteBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eachServiceMainFavoriteBtnBox {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.eachServiceMainTitleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eachServiceTitle {
  font-size: calc(var(--font-medium2) * 1.1);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}

.eachServiceDgst {
  font-size: var(--font-content);
}

.eachServiceMainTable {
  width: 100%;
  height: 130px;
  border-collapse: separate;
  border-spacing: 0;
  border: var(--black-color) 1px solid;
  border-radius: 15px;
  overflow: hidden;
}

.eachServiceMainTableThead {
  width: 100%;
  height: 50%;
}

.eachServiceMainTableTbody {
  width: 100%;
  height: 50%;
}

.eachServiceMainTableTheadTd {
  text-align: center;
  background-color: var(--light-green-color);
  font-size: var(--font-small);
  letter-spacing: 2px;
}

.eachServiceMainTableTheadTd:not(:last-of-type) {
  border-right: var(--black-color) 1px solid;
}

.eachServiceMainTableTbodyTd {
  text-align: center;
  font-size: var(--font-smaller);
}

.eachServiceMainTableTbodyTd:not(:last-of-type) {
  border-right: var(--black-color) 1px solid;
}

.eachServiceTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.eachServiceTabTitleBox {
  width: 1600px;
  font-size: var(--font-medium2);
  margin-bottom: var(--small-padding);
  margin-left: var(--micro-padding);
}

.eachServiceTabTextBoxContainer {
  width: 1600px;
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: var(--black-color) 3px solid;
}

.eachServiceTabTextBox,
.selectedEachServiceTabTextBox {
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: var(--small-padding) var(--smaller-padding);
  background-color: white;
}

.eachServiceTabTextBox {
  border-top: var(--black-color) 1px solid;
  border-right: var(--black-color) 1px solid;
}

.eachServiceTabTextBox:nth-child(1) {
  border-left: var(--black-color) 1px solid;
}

.selectedEachServiceTabTextBox {
  border-top: var(--black-color) 3px solid;
  border-right: var(--black-color) 3px solid;
  border-left: var(--black-color) 3px solid;
}

.eachServiceTabText {
  font-size: calc(var(--font-small) * 1.2);
}

.selectedEachServiceTabText {
  font-size: calc(var(--font-small) * 1.2);
  color: var(--deep-green-color);
  border-bottom: var(--pistachio-color) 2px solid;
  padding-bottom: 5px;
}

.eachServiceInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eachServiceInfoBox {
  width: 1600px;
  min-height: 300px;
  padding: var(--bigger-padding);
  border-left: var(--black-color) 3px solid;
  border-right: var(--black-color) 3px solid;
  border-bottom: var(--black-color) 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachServiceInfo {
  width: 100%;
}

.eachServiceInfo:not(:first-of-type) {
  margin-top: 40px;
}

.eachServiceInfoTitleBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eachServiceInfoTitleImg {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eachServiceInfoTitle {
  width: 100%;
  font-size: var(--font-small);
  font-weight: 700;
}

.eachServiceInfoDescBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 0 20px;
}

.eachServiceInfoDesc {
  width: 100%;
  font-size: var(--font-smaller);
  white-space: pre-wrap;
  line-height: 1.8;
}

/* sweetAlert */
.swal2-popup {
  width: 800px;
  height: 300px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.swal2-icon {
  margin: 0;
}

.swal2-title {
  padding: 0;
}

/* favorite */
.favoritePreviewContainer,
.favoritePreviewContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.favoritePreviewContainer2 {
  padding-top: 150px;
}

.favoritePreviewBox {
  width: 1600px;
}

.favoriteTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.favoriteTitle {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: var(--font-medium2);
}

.favoriteTitleOrangeM {
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange-color);
  font-size: var(--font-medium);
}

.favoritePreviewContentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(var(--big-padding) * 2);
  line-height: 1.5rem;
}

.noFavoriteItemContainer {
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.noFavoriteItemIconBox {
  height: 90px;
  width: 90px;
  margin-bottom: var(--big-padding);
}

.noFavoriteItemTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--big-padding);
}

.noFavoriteItemTitle {
  font-size: var(--font-medium2);
}

.noFavoriteItemBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
}

.noFavoriteItemBtn {
  width: 100%;
  height: 100%;
  font-size: var(--font-medium2);
  background-color: var(--pistachio-color);
  color: white;
  border-radius: 15px;
}

.noFavoriteItemBtn a {
  color: white;
}

/* slick-dots */
.dots_custom {
  height: 50px;
  display: flex !important;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  bottom: -20px;
}

.dots_custom li {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dots_custom li button {
  background: var(--gray-color);
  color: transparent;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.dots_custom li.slick-active button {
  background-color: var(--pistachio-color);
}

/* KMap */
.searchMapContainer {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.showMapContainer {
  width: 1600px;
  height: 850px;
  border: var(--black-color) 1px solid;
  margin-top: calc(var(--big-padding) * 2);
  border-radius: 30px;
}

.customOverlayMap {
  padding: 0;
  margin: 0;
}

.showMapWrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 330px;
  height: 180px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.5;
}

.showMapWrap * {
  padding: 0;
  margin: 0;
}

.showMapWrap .showMapInfo {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-bottom: rgb(204, 204, 204) 2px solid;
  border-right: rgb(204, 204, 204) 1px solid;
  overflow: hidden;
  background: white;
}

.showMapWrap .showMapInfo:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px rgb(135, 135, 135);
}

.showMapInfo .showMapTitleBox {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--micro-padding) var(--smaller-padding);
  background: rgb(237, 237, 237);
  border-bottom: rgb(221, 221, 221) 1px solid;
  overflow: hidden;
}

.showMapTitleBox .showMapTitle {
  width: 80%;
  font-size: var(--font-smaller);
  font-weight: bold;
  white-space: initial;
  word-break: keep-all;
}

.showMapInfo .showMapCloseBox {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.showMapInfo .showMapCloseBox:hover {
  cursor: pointer;
}

.showMapInfo .showMapBody {
  width: 100%;
  height: 60%;
  padding: var(--smaller-padding);
  position: relative;
  overflow: hidden;
}

.showMapInfo .showMapDesc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
}

.showMapDesc .showMapAddress {
  font-size: var(--font-micro);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showMapDesc .showMapPhone {
  font-size: var(--font-micro);
}

.showMapInfo .showMapLink {
  font-size: var(--font-micro);
  color: #5085bb;
}

.showMapLoadingContainer {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--big-padding) * 5);
}

.errorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.errorTitle {
  font-size: var(--font-large);
  margin-right: 20px;
}

.errorImgBox {
  width: 50px;
  height: 50px;
}

.errorDesc {
  font-size: var(--font-small);
  margin-bottom: 60px;
  line-height: 1.5;
  text-align: center;
}

.errorBtn {
  width: 230px;
  height: 60px;
  background-color: var(--pistachio-color);
  color: white;
  font-size: var(--font-medium2);
  border-radius: 15px;
}
